.Button__main {
  border: solid rgb(55, 61, 63)	 2px;
  background: white;
  font-size: 1.3rem;
  font-family: monospace;
  padding: 20px 40px;
}

.Button__main:hover {
  background:  rgb(55, 61, 63);
  color: white;
}

.Button__main:focus {
  outline: none;
}
