.ButtonAndImage {
  height: 105%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.test {
  color: white;
}

@media only screen and (max-width: 576px) {
  .ButtonAndImage {
    margin: 5px 0;
  }
}