.Header__div {
  display: flex;
  justify-content: center;
}

.typewriter-text {
  display: inline-block;
  font-size: 32px;
  font-family: monospace;
  overflow: hidden;
  
  animation: typing 5s steps(35, end), blink 2s step-end 6;
  white-space: nowrap;
  border-right: 2px solid transparent;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

@keyframes blink {
  from, to {
    border-color: orange;
  }
  50% {
    border-color: transparent;
  }
}

/* My MacBook Air */
@media only screen and (max-width: 1440px) {
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
}

/* iPad */
@media only screen and (max-width: 768px) {
}

/* iPhone 6,7,8  PLUS */
@media only screen and (max-width: 414px) {
    .typewriter-text {
    animation: none;
    white-space: normal;
    text-align: center;
  }
}

/* Pixel 2, 2XL */
@media only screen and (max-width: 411px) {
}
/* iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* iPhone 5/SE */
@media only screen and (max-width: 320px) {
}
