.ImageDiv-writing,
.ImageDiv-resume,
.ImageDiv-projects {
  width: 30vw;
  height: 77%;
  background-size: cover;
}

.ImageDiv-writing {
  background-position: right;
  background-position: bottom;
}


@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1024px) {
  .ImageDiv-resume {
    background-position: -4rem;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 425px) {
  .ImageDiv-resume {
    background-position: -6rem;
  }
  .ImageDiv-writing {
    background-position: -10rem;
  }
}

@media only screen and (max-width: 320px) {
}
